{% extends 'layout.html' %}
 {% block title %}Not Found{% endblock %}
 {% block head %}
<link rel="stylesheet" href="http://at.alicdn.com/t/font_612756_bbg126l4z14w8kt9.css"> 
{% endblock %} 
{% block styles %}
<style rel="stylesheet">
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fbaa49;
}

.iconfont {
    font-size: 18rem
}
</style>
{% endblock %} 
{% block content %}
<div class="container">
    <i class="iconfont icon-rocket"></i>
    <span style="font-size: 1.5rem">Sorry！您查找的页面已经逃往火星。。。!!!∑(ﾟДﾟノ)ノ </span>
</div>
{% endblock %} 
{% block scripts %} {% endblock %}